@page "/profile/edit"

@inject NavigationManager NavigationManager

<div class="container flex flex-col">
    <div>
        <ProfilePictureView />
    </div>
    <div>
        <InputGroupView Label="Name"
                        Value="@username"
                        Placeholder="Enter your name"
                        ErrorMessage="@usernameError"
                        OnChange="OnUsernameChanged" />

        <InputGroupView Label="Phone Number"
                        Type="tel"
                        Value="@phoneNumber"
                        Placeholder="Enter your phone number"
                        ErrorMessage="@phoneNumberError"
                        OnChange="OnPhoneNumberChanged" />
    </div>
    <div class="flex justify-start gap-2">
        <SaveButtonView OnClick="@HandleSave" />
        <CancelButtonView OnClick="@HandleCancel" />
    </div>
</div>

@code {
    private string username = App.CurrentUser.Username;
    private string phoneNumber = App.CurrentUser.PhoneNumber;
    private string usernameError = "";
    private string phoneNumberError = "";

    private void OnUsernameChanged(ChangeEventArgs e)
    {
        username = e.Value?.ToString() ?? "";
        usernameError = string.IsNullOrEmpty(username) ? "Username cannot be empty." : "";
    }

    private void OnPhoneNumberChanged(ChangeEventArgs e)
    {
        phoneNumber = e.Value?.ToString() ?? "";
        phoneNumberError = string.IsNullOrEmpty(phoneNumber) ? "Phone number cannot be empty." : "";
        phoneNumberError = phoneNumber.Length < 9 ? "Invalid phone number." : "";
    }

    private async Task HandleSave()
    {
        if (string.IsNullOrEmpty(usernameError) && string.IsNullOrEmpty(phoneNumberError))
        {
            Preferences.Set("username", username);
            Preferences.Set("user_phone_number", phoneNumber);

            await LoadUserData(username, phoneNumber);
            NavigationManager.NavigateTo("/profile");
        }
    }

    private async Task HandleCancel()
    {
        NavigationManager.NavigateTo("/profile");
    }

    private async Task LoadUserData(string name, string phone)
    {
        App.LoadUserData(name, phone);
    }
}