@page "/"

@inject NavigationManager NavigationManager

<div class="container">
    <div class="mb-1">
        <h1 class="text-accent font-extrabold text-2xl">Hello, @userName</h1>
        <p class="text-accent-light text-lg">@greeting</p>
    </div>
    <div>
        <HeartStatusCardView HexColor="@statusHexColor"
        Status="@heartStatus"
        Information="@information"
        ImageSource="@statusIconSource" />
    </div>

    <div class="grid grid-cols-2 gap-3 my-3">
        <HealthMonitorCardView HexColor="@firstHexColor" ImageSource="@heartbeatIconSource" Label="@firstLabel">
            @* Heartbeat Graph *@
        </HealthMonitorCardView>
        <HealthMonitorCardView ShowIcon=false HexColor="@secondHexColor" ImageSource="@heartbeatIconSource" Label="@secondLabel">
            @* Heartbeat Graph *@
        </HealthMonitorCardView>
        <HealthMonitorCardView ShowIcon=false HexColor="@thirdHexColor" ImageSource="@heartbeatIconSource" Label="@thirdLabel">
            @* Heartbeat Graph *@
        </HealthMonitorCardView>
        <HealthMonitorCardView HexColor="@fourthHexColor" ImageSource="@heartbeatIconSource" Label="@fourthLabel" LabelSize="lg">
            @* Heart Rate *@
        </HealthMonitorCardView>
    </div>
    <div>
        <OpenEmergencyContactButtonView Name="@emergencyContactName" />
    </div>
</div>

@code {
    private string? userName = App.CurrentUser?.Username;
    private string greeting = "";

    private string statusHexColor = "#B9FBC0";
    private string heartStatus = "Healthy Heart";
    private string? information = "";

    private string statusIconSource = $"../resources/images/healthy_heart_icon.png";

    // private string statusHexColor = "#FBB9B9";
    // private string heartStatus = "STEMI";
    // private string? information = "Calling Ambulance...";

    // private string statusIconSource = $"../resources/images/emergency_icon.png";

    private string firstHexColor = "#DBCDF0";
    private string secondHexColor = "#F7D9C4";
    private string thirdHexColor = "#C6DEF1";
    private string fourthHexColor = "#F2C6DE";

    private string heartbeatIconSource = $"../resources/images/heartbeat_icon.png";
    private string heartRateIconSource = $"../resources/images/heartbeat_icon.png";

    private string firstLabel = "Heartbeat";
    private string secondLabel = "Bluetooth";
    private string thirdLabel = "Location";
    private string fourthLabel = "Heart Rate";

    private string? emergencyContactName = App.EmergencyContact?.ContactName;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        if (string.IsNullOrEmpty(App.CurrentUser?.Username))
            NavigationManager.NavigateTo("/signup");

        await GetTime();
    }

    private async Task GetTime()
    {
        int hour = new DateTime().Hour;

        await SetGreeting(hour);
    }

    private async Task SetGreeting(int hour)
    {
        if (hour < 12)
        {
            greeting = "Good Morning";
        }
        else if (hour < 19)
        {
            greeting = "Good Afternoon";
        }
        else if (hour < 24)
        {
            greeting = "Good Evening";
        }
        else
        {
            greeting = String.Empty;
        }
    }
}