@page "/signup"

@inject NavigationManager NavigationManager

<div class="container mt-44">
    <div class="text-accent text-center text-2xl font-bold mb-4">
        <h1>Welcome to MERCy-Mobile!</h1>
    </div>
    <div>
        <InputGroupView Label="Name"
        Value="@username"
        Placeholder="Enter your name"
        ErrorMessage="@usernameError"
        OnChange="OnUsernameChanged" />

        <InputGroupView Label="Phone Number"
        Type="tel"
        Value="@phoneNumber"
        Placeholder="Enter your phone number"
        ErrorMessage="@phoneNumberError"
        OnChange="OnPhoneNumberChanged" />
    </div>
    <div class="flex justify-center">
        <SaveButtonView OnClick="@HandleSave" />
    </div>
</div>

@code {
    private string username = "";
    private string phoneNumber = "";
    private string usernameError = "";
    private string phoneNumberError = "";

    private void OnUsernameChanged(ChangeEventArgs e)
    {
        username = e.Value?.ToString() ?? "";
        CheckUsername();
    }

    private void OnPhoneNumberChanged(ChangeEventArgs e)
    {
        phoneNumber = e.Value?.ToString() ?? "";
        CheckPhoneNumber();
    }

    private void CheckUsername()
    {
        usernameError = string.IsNullOrEmpty(username) ? "Username cannot be empty." : "";
    }

    private void CheckPhoneNumber()
    {
        if (string.IsNullOrEmpty(phoneNumber))
        {
            phoneNumberError = "Phone number cannot be empty.";
        }
        else if (phoneNumber.Length < 9)
        {
            phoneNumberError = "Invalid phone number.";
        }
        else
        {
            phoneNumberError = "";
        }
    }

    private async Task HandleSave()
    {
        CheckUsername();
        CheckPhoneNumber();

        if (string.IsNullOrEmpty(usernameError) && string.IsNullOrEmpty(phoneNumberError))
        {
            Preferences.Set("username", username);
            Preferences.Set("user_phone_number", phoneNumber);

            await LoadUserData(username, phoneNumber);
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task LoadUserData(string name,string phone)
    {
        App.LoadUserData(name, phone);
    }
}